<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/webduino-js@0.6.0/index.min.js"></script>
    <script>
        var dht;

        boardReady({
            board: 'Smart',
            device: '1234',
            transport: 'message',
            window: window.top.frames[0]
        }, function(board) {
            board.systemReset();
            board.samplingInterval = 50;
            dht = getDht(board, 5);
            dht.read(function(evt) {
                document.getElementById("demo-area-01-show").innerHTML = ([dht.temperature, '<br/>', dht.humidity].join(''));
            }, 1000);
        });
    </script>
</head>

<body>
    <div id="demo-area-01-show"></div>
</body>

</html>